body {
  font: 10px sans-serif;
}

svg {
    float: left;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  cursor: pointer;
}
.bar:hover {
  fill: #6EA9DA;
}

.bar-chart .y.axis path {
  display: none;
}

.area {
  fill: steelblue;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}